.destinations {
    padding: 50px 0;
    text-align: center;
}

.destinations__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}

.gallery__left {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.gallery__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery__top {
    display: flex;
    gap: 20px;
}

.gallery__item {
    position: relative;
    overflow: hidden;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.gallery__item:hover img {
    transform: scale(1.05);
}

.gallery__item.large {
    height: 100%;
    min-height: 500px;
}

.gallery__item.small {
    flex: 1;
    height: 240px;
}

.gallery__item.wide {
    height: 240px;
    width: 100%;
}

.destination__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.3s ease;
}

.destination__overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Cursive", sans-serif;
}

.destination__overlay button {
    background: #ff5c57;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.destination__view {
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .destinations__gallery {
        grid-template-columns: 1fr;
    }

    .gallery__left,
    .gallery__right {
        width: 100%;
    }

    .gallery__right .gallery__top {
        flex-direction: column;
    }

    .gallery__item.small,
    .gallery__item.wide,
    .gallery__item.large {
        width: 100%;
        height: auto;
        min-height: 240px;
    }
}

@media screen and (max-width: 768px) {
    .overlay h2 {
        font-size: 20px;
    }

    .overlay button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .gallery__item.small,
    .gallery__item.wide,
    .gallery__item.large {
        height: 200px;
        /* min-height: unset; */
    }

    .overlay h2 {
        font-size: 18px;
    }

    .overlay button {
        padding: 6px 14px;
        font-size: 13px;
    }
}
